@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,800&display=swap");

$primary: #f3f3f3;
$font-color: #374957;
$dark: #04dfe6;
$highlite: #57d871;
$blips: $font-color;
$light-green: $primary;
$nav-pills-link-active-bg: $highlite !important;
$heading-font-size: 18px;
$normal-font-size: 14px;
$xl-heading: $heading-font-size + 10px;

*,
*::after,
*::before {
  font-family: "Poppins", sans-serif !important;
}
html {
  scroll-behavior: smooth !important;
  font-size: 16px !important;
}
p {
  color: $primary;
  font-size: $normal-font-size;
}

body {
  background: url("./assets/loginBg.png"), no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__brand {
  display: flex;
  align-items: center;
}
.brand__name {
  font-size: 35px !important;
  font-weight: bold !important;
  margin-right: 1em;
  color: $highlite !important;
}
.brand__name:hover {
  color: darken($highlite, 20%);
}
.catagory__select {
  width: 150px;
}
.catagory__select * {
  color: $primary !important;
  background-color: rgba(3, 67, 69, 0.9) !important;
  border: none !important;
  outline: none !important;
  cursor: pointer !important;
  border-radius: 8px !important;
  font-size: $normal-font-size !important;
}
.nav__bar {
  background-color: transparent !important;
  padding: 1em 5em !important;
  position: relative;
}
.nav__bar__solid {
  background-color: white !important;
  padding: 1em 5em !important;
}
.active {
  background-color: rgba(0, 0, 0, 0.9) !important;
}
.active__reverse {
  background-color: $primary !important;
}
.nav__link__wrapper {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}
.nav__link {
  color: $primary !important;
  font-weight: 400;
  font-size: $normal-font-size !important;
  background-color: rgba(3, 67, 69, 0.9) !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  padding: 0.8em !important;
  border-radius: 8px;
  margin: 0em 1em;
}
.nav__link svg {
  width: 20px;
  height: 20px;
}
.nav__link:hover {
  transition: 200ms;
  color: $dark !important;
}
.active__reverse .nav__link {
  color: $font-color !important;
}
.active__reverse .nav__link:hover {
  color: $dark !important;
}
.header__form {
  display: flex;
  align-items: center;
  background-color: transparent;
  height: fit-content;
  width: 50% !important;
  position: absolute;
  left: 25%;
  top: 1.4em;
  border-radius: 10px;
}
.header__form__input {
  height: 50px;
  border: 1px solid $font-color;
  border-right: none;
  font-size: $normal-font-size;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 0em 1em;
  outline: none;
  width: 95%;
}
.header__form__input:focus {
  border-color: $dark;
}

.input__box {
  background-color: $primary !important;
  border: 1px solid $primary !important;
  min-height: 35px !important;
  font-size: $normal-font-size !important;
}
.input__box:hover {
  border-color: $font-color !important;
}
.input__box:focus {
  border-color: $highlite !important;
}
.search__box {
  background-color: $primary !important;
  border: 1px solid $primary !important;
  height: 40px !important;
  font-size: $normal-font-size !important;
}
.search__box:hover {
  border-bottom-color: $font-color !important;
}
.search__box:focus {
  border-bottom-color: $dark !important;
}
.upload__btn__row {
  min-width: 30%;
  margin: 0em auto;
  margin-top: 1em;
}
.save__btn__row {
  min-width: 50%;
  margin: 0em auto;
}
.btn__cta {
  background: linear-gradient(90deg, $dark, $highlite) !important;
  border: none !important;
  height: 35px !important;
  font-size: $normal-font-size !important;
  cursor: pointer;
  color: $primary !important;
  width: 100% !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border-radius: 5px !important;
}
.btn__cta:hover {
  background: linear-gradient(90deg, $dark, $highlite) !important;
}
.btn__cta__delete {
  background: #e33e3e !important;
  border: none !important;
  height: 35px !important;
  font-size: $normal-font-size !important;
  cursor: pointer;
  color: $primary !important;
  width: 100% !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border-radius: 5px !important;
}
.btn__cta__delete:hover {
  background-color: darken(#e33e3e, 10%) !important;
}
.btn__cta__upload {
  background-color: $font-color !important;
  border: none !important;
  height: 35px !important;
  font-size: $normal-font-size !important;
  cursor: pointer;
  color: $primary !important;
  width: 100% !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border-radius: 5px !important;
}
.btn__cta__upload:hover {
  background-color: darken($font-color, 10%) !important;
}
.btn__cta__download {
  background-color: $dark !important;
  border: none !important;
  height: 40px !important;
  font-size: $normal-font-size !important;
  cursor: pointer;
  color: $primary !important;
  width: 100% !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border-radius: 5px !important;
  text-decoration: none !important;
}
.btn__cta__download:hover {
  background-color: darken($dark, 10%) !important;
}
.btn__cta__reverse {
  background-color: #a70000 !important;
  border: none !important;
  height: 40px !important;
  font-size: $normal-font-size !important;
  cursor: pointer;
  color: $primary !important;
  width: 100% !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border-radius: 5px !important;
}
.btn__cta__reverse:hover {
  background-color: darken(#a70000, 10%) !important;
}

.sidebar__links {
  flex-direction: column !important;
}
.nav__link__vertical {
  background-color: transparent;
  font-size: $normal-font-size !important;
  color: $font-color !important;
  padding: 0.7em 1em !important;
  display: flex !important;
  align-items: center !important;
  white-space: nowrap;
}

.nav__link__vertical svg {
  margin-right: 1em;
  width: 20px;
  height: 20px;
}
.nav__link__vertical__accordion {
  background-color: #ffffff !important;
  font-size: $normal-font-size !important;
  color: $font-color !important;
  padding: 0.7em 1em !important;
  display: flex !important;
  align-items: center !important;
  white-space: nowrap;
  border: none !important;
  width: 100% !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__link__vertical__accordion:hover {
  background-color: $primary !important;
  color: $font-color !important;
}
.nav__link__vertical__accordion:focus {
  background-color: $primary !important;
  color: $font-color !important;
}
.nav__link__vertical__accordion:active {
  background-color: $primary !important;
  color: $font-color !important;
}
.nav__link__vertical__accordion__icon {
  width: 10px;
  height: 10px;
}
.nav__link__vertical__accordion .nav__link__vertical__accordion__icon {
  transform: rotate(90deg);
}
.nav__link__vertical__accordion__link {
  margin: 0 !important;
  padding: 0 !important;
}
.nav__link__vertical__accordion__collapse {
  background-color: $primary;
}
.nav__link__vertical:hover {
  background-color: darken($primary, 10%) !important;
  color: $font-color !important;
}
.nav__link__vertical__collapse {
  background-color: transparent !important;
  font-size: $normal-font-size !important;
  color: $font-color !important;
  padding: 0.7em 1em !important;
  display: flex !important;
  align-items: center !important;
  padding-left: 1.7em !important;
  white-space: nowrap;
}
.nav__link__vertical__collapse:hover {
  background-color: darken($primary, 10%) !important;
  color: $font-color !important;
}
.details__row {
  display: flex;
}
.details__row__left {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  width: fit-content;
}
.details__row__right {
  display: flex;
  flex-direction: column;
  width: fit-content;
}
.select__control {
  border: none !important;
  background-color: $primary !important;
  font-size: $normal-font-size !important;
  // height: 35px !important;
  // max-height: 35px !important;
  // min-height: 35px !important;
}
.details__row__property {
  font-size: $normal-font-size;
  color: $font-color;
  font-weight: bold;
}
.details__row__value {
  font-size: $normal-font-size;
  color: $font-color;
  font-weight: 300;
}
.details__row__value__link {
  color: $highlite;
  font-size: $normal-font-size;
  text-decoration: underline;
}
.details__row__value__link:hover {
  color: darken($highlite, 10%);
}
.nav__link__horizontal {
  background-color: $primary !important;
  color: $highlite !important;
  font-size: $normal-font-size !important;
  border: 1px solid $primary !important;
  margin-bottom: 1em !important;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
}
.nav__link__horizontal:hover {
  background-color: $light-green !important;
  color: $highlite !important;
  border-bottom-color: $highlite !important;
}
.nav__link__horizontal:focus,
.nav__link__horizontal:active {
  color: $primary !important;
}
.panel__main__heading__row {
  display: flex;
  align-items: center;
  padding: 1em;
  background-color: $primary;
  border-radius: 10px;
}
.panel__main__heading__row__entry {
  min-width: fit-content;
  width: 100%;
  max-width: 200px;
  margin-right: 0.5em;
  display: flex;
  justify-content: center;
  color: lighten($font-color, 20%);
  font-size: $normal-font-size;
  font-weight: 800;
}
.panel__main__row {
  display: flex !important;
  align-items: center !important;
  padding: 0.7em 1em !important;
  background-color: $primary !important;
  border-radius: 10px !important;
  background-color: #ffffff !important;
  margin: 0.3em 0em;
}
.panel__main__row:hover {
  background-color: $primary !important;
}
.panel__main__row__link {
  display: flex !important;
  cursor: pointer !important;
  align-items: center !important;
  flex: 1;
}
.Accordion__toggle__order__details__product__list__entry {
  width: 100% !important;
  height: fit-content !important;
  border: none !important;
  background-color: transparent !important;
  padding: 0em !important;
  margin: 0em !important;
}
.Accordion__toggle__order__details__product__list__entry:hover {
  background-color: $primary !important;
}
.panel__main__row__entry {
  min-width: fit-content;
  width: 100%;
  margin-right: 0.5em;
  max-width: 200px !important;
  display: flex;
  justify-content: center;
  font-size: $normal-font-size;
  color: $font-color;
  flex-wrap: wrap;
  align-items: center;
}
.panel__main__row__entry__btn {
  color: $highlite;
  text-decoration: underline;
  background-color: transparent;
  border: none;
  position: relative;
}
.panel__main__row__entry__para {
  width: 300px;
  display: none;
  position: absolute;
  top: 30px;
  right: 0px;
  background-color: #ffffff;
  color: $font-color;
  padding: 1em;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 3;
}
.panel__main__row__entry__btn:hover {
  color: darken($highlite, 10%);
}
.panel__main__row__entry__btn:hover .panel__main__row__entry__para {
  display: flex;
}
.panel__main__row__entry__option {
  width: 150px;
  display: flex;
  position: absolute;
  top: 30px;
  right: 0px;
  background-color: #ffffff;
  color: $font-color;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 3;
  padding: 1em 0.5em;
  flex-direction: column;
}
.panel__main__row__entry__option__entry {
  color: $font-color !important;
  font-size: $normal-font-size !important;
  background-color: transparent !important;
  border: none !important;
  margin-bottom: 0.5em !important;
  display: flex !important;
  justify-content: flex-start !important;
  align-items: center !important;
  height: 30px !important;
  width: 100% !important;
  padding: 0.7em 1em !important;
  margin: 0em !important;
  border-radius: 5px !important;
}
.panel__main__row__entry__option__entry:hover {
  background-color: $primary !important;
  color: darken($font-color, 10%) !important;
}
.panel__main__row__entry__option__entry__delete {
  color: #e33e3e !important;
  font-size: $normal-font-size !important;
  background-color: transparent !important;
  border: none !important;
  margin-bottom: 0.5em !important;
  display: flex !important;
  justify-content: flex-start !important;
  align-items: center !important;
  height: 30px !important;
  width: 100% !important;
  padding: 0.7em 1em !important;
  margin: 0em !important;
  border-radius: 5px !important;
}
.panel__main__row__entry__option__entry__delete:hover {
  background-color: $primary !important;
  color: darken(#e33e3e, 10%) !important;
}
.panel__main__row__entry__badge {
  background-color: darken($primary, 10%);
  padding: 0.5em 1em;
  border-radius: 50px;
}
.screen__back__btn {
  background-color: transparent !important;
  border-radius: 50px !important;
  width: 40px !important;
  height: 40px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  cursor: pointer;
  margin-right: 1em;
  color: $dark;
}
.screen__back__btn svg {
  width: 30px !important;
  height: 30px !important;
  transform: scale(2);
}
.screen__back__btn:hover {
  background-color: $primary !important;
  color: $dark !important;
}
.options__list {
  margin: 3em 0em;
}
.page__slider {
  margin-top: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel__card {
  padding: 1.5em 2em;
  background-color: #ffffff;
  border-radius: 10px;
  flex: 1;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  margin-right: 2em;
}
.panel__card__heading__row {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid $primary;
  padding-bottom: 0.8em;
  margin-bottom: 1em;
  align-items: center;
}
.panel__card__heading {
  font-size: $normal-font-size + 2px;
  color: $font-color;
  font-weight: 900;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.panel__card__heading span {
  font-size: $normal-font-size;
  font-weight: 300;
}
.panel__card__about {
  border-radius: 25px;
  border: 2px solid #b3b8bd;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  z-index: 2;
}
.panel__card__about svg {
  width: 13px;
  height: 13px;
}
.panel__card__info {
  display: none;
  position: absolute;
  flex-direction: column;
  background-color: #ffffff;
  padding: 2em;
  border-radius: 10px;
  top: 20px;
  right: 20px;
  width: 300px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
}
.panel__card__info__heading {
  font-size: $heading-font-size;
  color: $font-color;
  font-weight: 600;
  flex: 1;
}
.panel__card__about:hover .panel__card__info {
  transition: 100ms ease-in-out;
  display: flex;
}
.panel__card__content__heading__row {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}
.panel__card__content__heading {
  font-size: $heading-font-size + 7;
  color: darken($font-color, 20%);
  font-weight: 900;
}
.panel__card__content__info {
  font-size: $normal-font-size - 2;
  color: #5f778a;
}
.applicant__row__heading__row {
  display: none;
  align-items: center;
  padding: 1em;
  background-color: $primary;
  border-radius: 10px;
}
.users__list__main__container {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  background-color: $primary;
  margin-top: 1.5em !important;
  padding: 0.5em !important;
  border-radius: 6px;
  margin-top: 1em !important;
}
.users__list {
  font-size: $normal-font-size;
  color: $font-color;
}
.users__list__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  font-size: $normal-font-size;
  color: $font-color;
}
.users__list__container img {
  margin-right: 0.5em;
  width: 30px;
  height: 30px;
}
.order__details__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order__details__heading {
  font-size: $heading-font-size;
  font-weight: bold;
  color: $font-color;
}
.order__details__cta {
  display: flex;
}
.order__details__cta__divider {
  width: 1em;
}
.order__details__product__list {
  display: flex;
  flex-direction: column;
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 0.5em;
}
.order__details__product__list__entry {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  margin-bottom: 0.5em !important;
  padding: 0em !important;
  width: 100% !important;
}
.order__details__product__list__entry__left {
  display: flex;
  align-items: center;
}
.order__details__product__list__entry__img {
  width: 50px;
  margin-right: 1em;
}
.order__details__product__list__entry__name {
  font-size: $normal-font-size + 2px;
  color: $font-color;
  font-weight: 900;
}
.order__details__product__list__entry__right {
  display: flex;
  align-items: center;
}
.order__details__product__list__entry__price {
  font-size: $normal-font-size;
  color: $font-color;
  margin-right: 1em;
}
.order__details__customer {
  max-width: 500px;
}
.status__col {
  display: flex;
  align-items: center;
}
.status {
  font-size: $normal-font-size !important;
  text-transform: uppercase;
  margin-bottom: 0em !important;
  color: white !important;
  padding: 0.5em 1em !important;
  font-size: $normal-font-size !important;
  user-select: none;
  border-top-left-radius: 8px !important;
  border-bottom-left-radius: 8px !important;
  width: 80px !important;
  height: 36px !important;
  font-weight: 300 !important;
}
.status-live {
  background-color: #09c956;
}
.status-closed {
  background-color: #ff4d4d;
}
.status-hold {
  background-color: #ffae0c;
}
.status__dropdown {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
}
.status__option {
  width: 10px !important;
  height: 10px !important;
  border-radius: 10px !important;
  margin-right: 10px !important;
}
.posting__nav__link {
  background-color: $primary !important;
  color: $font-color !important;
  font-size: $normal-font-size !important;
  border: 1px solid $primary !important;
  margin-bottom: 1em !important;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
}
.posting__nav__link:hover {
  background-color: $light-green !important;
  color: $font-color !important;
  border-bottom-color: $highlite !important;
}
.posting__nav__link__badge {
  width: fit-content !important;
  min-width: 20px !important;
  height: 20px !important;
  margin-right: 10px !important;
  border-radius: 20px !important;
  font-size: $normal-font-size - 2px !important;
  color: $primary !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 0.5em !important;
}
@media (max-width: 700px) {
  .panel__card {
    width: 100%;
    height: 500px;
    margin: 0;
    margin-bottom: 2em;
  }
  .save__btn__row {
    margin-top: 1em;
  }
  .panel__main__row {
    flex-direction: column;
  }
  .panel__main__row__entry {
    justify-content: flex-start;
  }
  .panel__main__heading__row {
    display: none;
  }
  .applicant__row {
    display: flex;
    justify-content: space-between;
  }
  .applicant__row__heading__row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 130px;
  }
  .panel__main__row__link {
    flex-direction: column !important;
  }
  .panel__main__heading__row__entry {
    justify-content: flex-start;
  }
  .details__row {
    flex-direction: column;
  }
  .details__row__value {
    margin-bottom: 1em;
  }
}

@import "~bootstrap/scss/bootstrap";
